#form{
  display: grid;
  grid-template-columns: repeat(10, 10%);
  grid-template-rows:  repeat(5, 20%);
}

h1{
    font-size: 48px;
    color: #066a75;
    padding: 2px 0 10px 0;
    font-family: Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}

#form div label{
  color: #066a75;

}

#form div{ 
  margin: 5px;

}

.container{
  grid-row: 1 / 6; 
  grid-column: 5 / 8;
}
